/* VARIABLES */

.dark {
  --moonraker: hsl(255,47.27%,78.43%);
  --petrified-purple: hsl(252.97,45.68%,68.24%);
  --magic-carpet: hsl(236.73,29.1%,62.94%);
  --bg:#000;
}

.light {
  --moonraker: hsl(255,47.27%,88.43%);
  --petrified-purple: hsl(252.97,45.68%,88.24%);
  --magic-carpet: hsl(236.73,29.1%,80.94%);
  --bg:#EEE;
}

/* RESET */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

/* BODY */

body {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  background: var(--bg)
}

/* HEADER */

header {
  width: 100%;
  padding: .5em 1em;
  padding-top: 1em;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--petrified-purple);
  border-radius: 0 0 3em 3em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* HEADER NAV */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav lord-icon, nav a img {
  width: 2em;
  height: 2em;
}

/* HEADER SECTION */

header section {
  padding: .5em;
  text-align: right;
  font-size: 2rem;
  flex: 2;
}

header section p {
  margin: 0;
}


/* MAIN */

main {
  padding: 1em 0;
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

main .button {
  border-radius: 50%;
  width: calc(90% / 4);
  height: calc(90% / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--magic-carpet);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


main .number {
  background-color: var(--moonraker);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
