/* VARIABLES */
:root {
  --text: #FFFFFF;
  --bg: #161819;
  --primary: #8EF2FF;
  --secondry: #E36E40;
}
/* RESET */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

/* BODY */

body {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

/* HEADER */

header {
  width: 100%;
  padding: .5em 1em;
  padding-top: 1em;
  display: flex;
  flex-flow: column wrap;
  background-color: beige;
  border-radius: 0 0 3em 3em;
}

/* HEADER NAV */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav lord-icon, nav a img {
  width: 2em;
  height: 2em;
}

/* HEADER SECTION */

header section {
  padding: 1em;
  text-align: right;
  font-size: 2rem;
  flex: 2;
}

header section p {
  margin: 0;
}


/* MAIN */

main {
  flex: auto;
}
