@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* VARIABLES */
:root {
  --graphite-black: #272e30;
  --stone-cold: #525455;
  --flint-rock: #9e9694;
  --fallen-petals: #f1ded9;
  --olympus-white: #d1d9d9;
  --wave: #9fc8cf;
  --sky-dive: #72bbc9;
  --light-blue: #a1ccda;
  --blue-silk: #cddceb;
  --delicate-cloud: #dee1ee;
}

.dark {
  --bg: var(--graphite-black);
  --display: var(--stone-cold);
  --numbers: var(--flint-rock);
  --buttons: var(--sky-dive);
  --text: var(--delicate-cloud);
  --icon: var(--wave);
}

.light {
  --bg: var(--delicate-cloud);
  --display: var(--fallen-petals);
  --numbers: var(--light-blue);
  --buttons: var(--olympus-white);
  --text: var(--graphite-black);
  --icon: var(--blue-silk);
}

/* RESET */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

p {
  margin: .2em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* BODY */

body {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  background: var(--bg);
  color: var(--text);
  font-family: 'Roboto Mono', monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

/* HEADER */

header {
  width: 100%;
  padding: .5em 1em;
  padding-top: 1em;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--display);
  border-radius: 0 0 3em 3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* HEADER NAV */

header nav  i {
  font-size: 1.3rem;
  cursor: pointer;
}

/* HEADER SECTION */

header section {
  padding: .5em;
  text-align: right;
  font-size: 2rem;
  flex: 2;
}

header section p {
  margin: 0;
}

/* ASIDE */

aside {
  padding: 2em;
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: var(--bg);
  z-index: 999;
  left: 0;
  display: none;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: start;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

aside .tools {
  display: flex;
  flex-flow: column wrap;
}

aside .tools div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-start;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

aside .tools div:hover {
  color: var(--numbers);
}

#unmute, #light {
  display: none;
}

aside .tools div p {
  font-weight: normal;
}

aside .footer {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


aside .footer i {
  font-size: 1.5rem;
  color: var(--text);
}

i:hover, a:hover {
  color: var(--numbers) !important;
}

aside .footer img {
  width: 1.5rem;
}

/* MAIN */

main {
  padding: 1em 0;
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
}

main .button {
  border-radius: 14px;
  width: calc(90% / 4);
  height: calc(90% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--buttons);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1.3rem;
}

main .wide {
  /* background-color: var(--display); */
  flex: 1 1 auto;
  border-radius: 8px;
}


main .number {
  background-color: var(--numbers);
}

/* FOOTER */

footer {
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
}

footer p {
  color: var(--text);
}

footer a {
  color: var(--numbers);
}
